@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
:root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 230 10% 95%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 230 10% 97%;
    --muted-foreground: 230 5% 50%;
    --accent: 230 100% 90%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 230 10% 90%;
    --input: 230 10% 90%;
    --ring: 230 10% 50%;
    --radius: 0.5rem;
}

.dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 230 10% 20%;
    --secondary-foreground: 0 0% 98%;
    --muted: 230 10% 15%;
    --muted-foreground: 230 5% 70%;
    --accent: 230 100% 20%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 230 10% 20%;
    --input: 230 10% 20%;
    --ring: 230 10% 70%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
